<mat-card class="fundo1">
    <mat-card-title>Editar o Produto</mat-card-title>
    <form>
        <div class="form-grid"> 
        <mat-form-field appearance="fill">
            <input matInput placeholder="Nome" [(ngModel)]="product.proNome" name="proNome">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Preço de Custo (R$)" [(ngModel)]="product.proPrecoCusto" name="proPrecoCusto">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Preço de Venda (R$)" [(ngModel)]="product.proPrecoVenda" name="proPrecoVenda">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Marca" [(ngModel)]="product.proMarca" name="proMarca">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Modelo" [(ngModel)]="product.proModelo" name="proModelo">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Estoque" [(ngModel)]="product.proEstoque" name="proEstoque">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Cor" [(ngModel)]="product.proCor" name="proCor">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Material" [(ngModel)]="product.proMaterial" name="proMaterial">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Fabricante" [(ngModel)]="product.proFabricante" name="proFabricante">
        </mat-form-field>
        </div>
    </form>

    <button mat-raised-button (click)="updateProduct()" color="primary">
        Atualizar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>