<table mat-table [dataSource]="formaPagamentos" class="mat-elevation-z8">

  <!-- ID -->
<ng-container matColumnDef="id">
  <th mat-header-cell *matHeaderCellDef>ID</th>
  <td mat-cell *matCellDef="let fpg"> {{ fpg.fpgId }} </td>
</ng-container>

<!-- Descrição -->
<ng-container matColumnDef="descricao">
  <th mat-header-cell *matHeaderCellDef>Descrição</th>
  <td mat-cell *matCellDef="let fpg"> {{ fpg.fpgDescricao }} </td>
</ng-container>

<!-- Parcelamento -->
<ng-container matColumnDef="parcelamento">
  <th mat-header-cell *matHeaderCellDef>Parcelamento</th>
  <td mat-cell *matCellDef="let fpg">
    {{ fpg.fpgPermiteParcelamento === 'Sim' ? 'Sim' : 'Não' }}
  </td>
</ng-container>

<!-- Parcelas -->
<ng-container matColumnDef="parcelas">
  <th mat-header-cell *matHeaderCellDef>Parcelas</th>
  <td mat-cell *matCellDef="let fpg"> 
    {{ fpg.fpgNumeroMaxParcela || '-' }}
  </td>
</ng-container>

<!-- Taxa -->
<ng-container matColumnDef="taxa">
  <th mat-header-cell *matHeaderCellDef>Taxa (%)</th>
  <td mat-cell *matCellDef="let fpg"> 
    {{ fpg.fpgTaxaAdicional !== null ? fpg.fpgTaxaAdicional + '%' : '-' }}
  </td>
</ng-container>

<!-- Status -->
<ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef>Status</th>
  <td mat-cell *matCellDef="let fpg">
    {{ fpg.fpgStatus ? 'Ativo' : 'Inativo' }}
  </td>
</ng-container>

<!-- Ações -->
<ng-container matColumnDef="acoes">
  <th mat-header-cell *matHeaderCellDef>Ações</th>
  <td mat-cell *matCellDef="let fpg">
    <button mat-icon-button color="primary" class="edit" [routerLink]="['/formaPagamento/update', fpg.fpgId]">
      <i class="material-icons">edit</i>
    </button>
    <button mat-icon-button color="warn" class="delete" [routerLink]="['/formaPagamento/delete', fpg.fpgId]">
      <i class="material-icons">delete</i>
    </button>
  </td>
</ng-container>

  <!-- Cabeçalhos e Linhas -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
