table {
    width: 100%;
    background: linear-gradient(to bottom, rgb(117, 4, 4), #eb0a0a);
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

th {
    font-family: 'Rockwell', Arial, sans-serif;
    font-size: 30px;
}
