.header{
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #000000, #a70101, #000000);
    /*background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/8143760-padrao-perfeito-com-icones-de-jogos-vetor.jpg');*/
    padding-left: 2px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 120px;
}

.header .title-group{
    padding-left: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Rockwell', Arial, sans-serif;
    font-size: 35px;
    
}

.header .title-group i {
    padding-right: 5px;

    
}
p{
    color: rgb(250, 0, 42);
}