/* Barra de navegação principal */
.header {
  display: flex;
   
  align-items: center;
  background: linear-gradient(to right, #74106b, #8f0101);
  padding: 0 50px;
  height: 64px;
 
 
}
  /* Link geral dentro da header */
  .header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  /* Ícones dentro da header */
  .header i {
    color: rgb(255, 255, 255);
    margin-right: 5px;
  }
  mat-toolbar.header {
    margin-top: 0 !important;
    padding-top: 0 !important;
    top: 0;
  }

  body, html {
    margin: 0;
    padding: 0;
  }
  
  /* Área central com título da loja */
  .header .center {
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
  }
  
  /* Agrupamento visual do título */
  .header .title-group {
    padding-left: 5px;
    font-family: 'Rockwell', Arial, sans-serif;
    font-size: 35px;
  }
  
  /* Logo (caso esteja usando imagem, mantive sua regra) */
  .header .logo {
    max-height: 65px;
    display: block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    background-color: black;
    object-fit: contain;
  }
  
  /* Posição do botão "início" */
  .header .right {
    position: absolute;
    right: 16px;
  }
  
  /* Cor do parágrafo fora da header */
  p {
    color: rgb(196, 0, 0);
  }
  