.container {
  height: 100vh;
}

.sidenav {
  width: 60px;
  overflow-x: hidden;
  background-color: #000000;
  box-shadow: 2px 0 5px rgba(233, 227, 227, 0.1);
  align-items: center;
}

.sidenav.expandido {
  width: 281px;
}

mat-nav-list {
  padding: 0;
}

mat-list-item {
  display: flex;
  align-items: center;
  padding: 12px;
  color: #740202;
}

.material-icons {
  margin-right: 16px;
  font-size: 24px;
  width: 24px;
  text-align: center;
}

.anima {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  width: 0;
  transition: all 0.3s ease;
  font-family: 'Rockwell', Arial, sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.content{
    padding: 16px;
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/8143760-padrao-perfeito-com-icones-de-jogos-vetor.jpg');
}

/* Quando o menu está expandido, mostrar texto */
.sidenav.expandido .anima {
  opacity: 1;
  width: auto;
}
.sidenav a:hover {
    background-color: #cc0000; /* Cor de fundo ao passar o mouse (azul claro estilo Google) */
    transform: scale(1.02); /* Leve crescimento para dar destaque */
}
.sidenav a:hover i {
    color: #000000; /* Azul escuro nos ícones no hover */
}