.sidenav{
    background-color: #ff0101;
    width: auto;
}
.sidenav a{
    color: #ffffff;
}
.sidenav i{
    padding-right: 1px;
    margin-right: 1px;
}

.content{
    padding: 16px;
    background-color: #ffffff;
}

span
{
    font-weight: bold;
    font-family: 'Rockwell', Arial, sans-serif;
}