.sidenav{
    background-color: #920202;
    width: auto;
    /*background-image: url('https://as2.ftcdn.net/jpg/05/99/53/57/1000_F_599535752_CGGPDQTtMed1T8drUDOdBYSwB3xwaFug.jpg');*/
}
.sidenav a{
    color: #ffffff;
}
.sidenav i{
    padding-right: 1px;
    margin-right: 1px;
}

.content{
    padding: 16px;
    background-color: #ffffff;
}

span
{
    font-weight: bold;
    font-family: 'Rockwell', Arial, sans-serif;
}