<mat-sidenav-container class="container">
    <mat-sidenav #sidenav 
    mode="side"
    [opened]="true"
    class="sidenav"
    [class.expandido]="expandido" 
    fixedInViewport="true" 
    fixedTopGap="64"
    disableClose>
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <span>
                <i class="material-icons">
                    home
                </i>
                <span class="anima">
                Início
                </span>
            </span>
            </a>
            <a mat-list-item routerLink="/products">
                <span>
                <i class="material-icons">
                    folder_special
                </i>
                <span class="anima">
                Produtos
                </span>
            </span>
            </a>
            <a mat-list-item routerLink="/clientes">
                <span>
                <i class="material-icons">
                    perm_identity
                </i>
                <span class="anima">
                Cliente
                </span>
            </span>
            </a>
            <a mat-list-item routerLink="/fornecedores">
                <span>
                <i class="material-icons">
                    group
                </i>
                <span class="anima">
                Fornecedores
                </span>
            </span>
            </a>
            <a mat-list-item routerLink="/formaPagamento">
                <span>
                <i class="material-icons icon-spacing">
                    credit_card
                </i>
                <span class="anima">
                Forma de Pagamento
                </span>
            </span>
            </a>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <!-- usamos para começar a trabalhar com a navegação a partir do clique... -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>