<!-- Cria um card estilizado com Angular Material -->
<mat-card class="fundo1">
    <!-- Título do card -->
    <div style="display: flex; justify-content: center; margin-bottom: 16px;">
      <mat-card-title style="font-size: 24px; color: rgb(255, 255, 255);">Novo Cliente</mat-card-title>
    </div>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="cliente.nome" name="nome" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF / CNPJ" [(ngModel)]="cliente.cpfCnpj" name="cpfCnpj" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data Nascimento" [(ngModel)]="cliente.dataNascimento" name="dataNascimento" required> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Forma de Pagamento" [(ngModel)]="cliente.formaPagamento" name="formaPagamento" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status" [(ngModel)]="cliente.status" name="status" required>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createCliente()" color="primary">
        Salvar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
