<mat-card class="fundo1">
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <div class="form-grid"> 
        <mat-form-field appearance="fill">
            <input matInput placeholder="Nome" [value]="product.proNome" name="proNome" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Preço de custo(R$)" [value]="product.proPrecoCusto" name="proPrecoCusto" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Preço de venda (R$)" [value]="product.proPrecoVenda" name="proPrecoVenda" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Marca" [value]="product.proMarca" name="proMarca" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Modelo" [value]="product.proModelo" name="proModelo" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Categoria" [value]="product.proCategoria" name="proCategoria" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Estoque" [value]="product.proEstoque" name="proEstoque" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Código de Barras" [value]="product.proCodigoBarras" name="proCodigoBarras" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Cor" [value]="product.proCor" name="proCor" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Material" [value]="product.proMaterial" name="proMaterial" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Fabricante" [value]="product.proFabricante" name="proFabricante" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Status" [value]="product.proAtivo" name="proAtivo" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Data de Cadastro" [value]="product.proDataCadastro" name="proDataCadastro" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Data de Atualização" [value]="product.proDataAtualizacao" name="proDataAtualizacao" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Descrição" [value]="product.proDescricao" name="proDescricao" disabled>
        </mat-form-field>
        </div>
    </form>

    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Excluir
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>
