<mat-card class="fundo1">
    <div style="display: flex; justify-content: center; margin-bottom: 16px;">
    <mat-card-title style="font-size: 24px; color: rgb(255, 255, 255); ">Confirmar Exclusão do Produto</mat-card-title>

</div>
    <form>

       
        <mat-form-field appearance="fill">
            
            <input matInput placeholder="Nome" [value]="product.proNome" name="proNome" disabled>
        </mat-form-field>

        <mat-form-field appearance="fill">
          
            <input matInput placeholder="Descrição" [value]="product.proDescricao" name="proDescricao" disabled>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput placeholder="Codigo de Barra" [value]="product.proCodigoBarra" name="proCodigoBarra" disabled>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput placeholder="Código Interno" [value]="product.proCodigoBarra" name="proCodigoBarra" disabled>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput placeholder="Fabricante" [value]="product.proFabricante" name="proFabricante" disabled>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput placeholder="Marca" [value]="product.proMarca" name="proMarca" disabled>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <input matInput placeholder="Categoria" [value]="product.proCategoria" name="proCategoria" disabled>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput placeholder="Ano de Aplicação" [(ngModel)]="product.proAnoAplicacao" name="proAnoAplicacao" disabled>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput type="number" placeholder="Preco de Custo (R$)" [value]="product.proPrecoCusto" name="proPrecoCusto" disabled>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput type="number" placeholder="Preco de Venda (R$)" [value]="product.proPrecoVenda" name="proPrecoVenda" disabled>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <input matInput type="number" placeholder="Estoque" [value]="product.proEstoque" name="proEstoque" disabled>
        </mat-form-field>
      
        <mat-form-field>
            <mat-label>Produto Ativo?</mat-label>
            <mat-select [value]="product.proStatus" name="ativo" disabled>
              <mat-option [value]="true">Sim</mat-option>
              <mat-option [value]="false">Não</mat-option>
            </mat-select>
          </mat-form-field>

       

          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Data de Cadastro" [(ngModel)]="product.proDataCadastro" name="proDataCadastro" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
      
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Data de Atualização" [(ngModel)]="product.proDataAtualizacao" name="proDataAtualizacao" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
      


    </form>


     <!-- Botões -->
     <div style="display: flex; justify-content: flex-end; gap: 10px;">
        <button mat-raised-button class="btn-cancelar" (click)="cancel()">
          Cancelar
        </button>
        <button mat-raised-button class="btn-salvar" (click)="deleteProduct()">
          Excluir
        </button>
      </div>

</mat-card>
