<main>
  <mat-card>
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px;">
  <!-- Barra de pesquisa alinhada à esquerda -->
  <mat-form-field appearance="fill" style="width: 250px;">
    <input
      matInput
      placeholder="Pesquisar por nome ou ID"
      (input)="onSearchChange($event)"
    />
  </mat-form-field>

  <!-- Botão alinhado à direita -->
  <button mat-raised-button
   (click)="navigateToProductCreate()"color="primary">
    Novo Produto +
  </button>
</div>

<!-- Componente filho -->
<app-product-read [searchTerm]="termoPesquisa" [triggerSearch]="triggerSearch"></app-product-read>
</mat-card>
</main>