/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Rockwell', Arial, sans-serif; background-image: url('https://wallpapers.com/images/hd/gaming-room-background-rhlvhmdnsfwch9w8.jpg');}
