table{
    width: 100%; /*A tabela vai ocupar toda a largura disponível do container. Esticadona, poderosa, dominando tudo.*/
}

.edit > i{
    color: #d9cd26; /*a cor do texto*/
}

.delete > i{
    color: #e35e6b; /*a cor do texto*/
}
th
{
    font-family: 'Rockwell', Arial, sans-serif; /*tá escolhendo a fonte do texto*/
    font-size: 30px; /*Isso deixa o texto do botão com 20 pixels de tamanho*/
}